<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0,maximun-scale=1.0,minimun-scale=1.0">
    <title>LOS ROSALES</title>

    <!-- Archivos adicionales -->
    
    <link href="@Url.Content("~/Content/General.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/General/JQuery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />


</head>


<body>

    <!--SE DEFINE VARIABLE DE SESION, PARA SABER SI SE ESTA ACTIVO O NO-->
    @{bool hasSession = ((HttpContext.Current.Session.Count > 0) ? true : false);}


    @*TOP BANNER*@

    @{if (hasSession)
    {
        Html.RenderPartial("TopBanner");
        Html.RenderPartial("SessionBar");
    }

    }


    @*CONTENT AND MENU*@

    <!--Se valida si se ha iniciado sesion para añadir o no la clase especificada-->
    <div @((hasSession) ? Html.Raw("class='col-lg-4 col-md-4 col-sm-4 col-xs-4'") : Html.Raw("class='col-lg-12 col-md-12 col-sm-12 col-xs-12'"))>
        <div  @((hasSession) ? Html.Raw("class='col-lg-12 col-md-12 col-sm-12 col-xs-12'") : Html.Raw("class='col-lg-12 col-md-12 col-sm-12 col-xs-12' ")) >
            @{if (hasSession)
            {
                Html.RenderPartial("MainMenu");
            }
            else
            {

                Html.RenderPartial("LogIn");
            }
            }

            
        </div>
    </div>

    <div @((hasSession) ? Html.Raw("class='col-lg-8 col-md-8 col-sm-8 col-xs-8'") : Html.Raw(""))  >
        @*CONTENIDO PRINCIPAL*@
        @RenderBody()
    </div>
    <div @((hasSession) ? Html.Raw("class='contenedorFooter'") : Html.Raw(""))>
        @*FOOTER*@
        @{Html.RenderPartial("Footer");}

   </div>


</body>
</html>
